################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sunshine/FileContentIndex/41fef82d-8725-4b34-9c4a-536ac95328c3.vsidx
/.vs/Sunshine/FileContentIndex/5272c334-8688-428c-954e-061be57009f0.vsidx
/.vs/Sunshine/FileContentIndex/689dd524-d30a-43b2-972f-b8ef46dc97ad.vsidx
/.vs/Sunshine/FileContentIndex/7692508f-b05b-47a8-bd7b-8c93141dbfe9.vsidx
/.vs/Sunshine/FileContentIndex/ec446ba1-1fbe-4ddf-967c-108aa46eb4c0.vsidx
/.vs/Sunshine/FileContentIndex
